

.banner {
  width : 90%;
  text-align: center;
}

#headline {
  margin-top: 20px;
  height: 82px;
  background : url(../images/dsr_logo.png) no-repeat;
  background-position: center center;
}

/*
#shweet-list {
  width : 90%;
  background-color : #FAEBD7;
  text-align: center;
  max-width : 650px;
  min-width : 360px;
  margin : auto;
}

*/







